body {
    font-family: Arial;
}

#canvasArea {
    position: relative;
    margin: 50px 10px;
}

canvas {
    position: absolute;
}

#img_canvas {
    z-index: 0;
}

.bounds {
    position: absolute;
    background-color: green;
    z-index: 1;
}

#workArea {
    margin: 20px;
}

#controls {
    margin: 50px 0px;
}

.ctrlsSubsection {
    margin: 10px;
}

#resultsArea {
    margin: 50px 0px;
}

.boundGroup {
    margin: 10px;
}

.gridGroup {
    margin: 10px;
}

.testGroup {
    margin: 10px;
}

.heading {
    font-size: 1.2em;
    font-weight: bold;
}