#canvasArea {
    position: relative;
}

canvas {
    position: absolute;
}

#img_canvas {
    z-index: 0;
}

#overlay {
    z-index: 1;
}

.bounds {
    position: absolute;
    background-color: green;
}

#workArea {
    margin: 20px;
}

#controls {
    margin: 50px 0px;
}

.ctrlsSubsection {
    margin: 10px;
}

#resultsArea {
    margin: 50px 0px;
}

